{% extends 'base.html' %}


{% block title %}
    Login
{% endblock title %}
    
{% block data %}

<div class="rounded-5 bg-success-subtle p-2 ">
    
    {% if user.is_authenticated %}
    <!-- USER AUTHENTICATED -->
    <h1>WELCOME:{{ user.username.upper }}</h1>
    {% else %}
    <!-- USER NOT AUTHENTICATED -->
    <p class="mb-5 text-center " style="font-family:'Dancing Script'; font-weight: 900; font-size:60px;">Login Page:</p>
    <form action="{% url 'login_app:login' %}" method="post">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col col-4"> <div class="input-group mt-3">
                <span class="input-group-text">@</span>
                <div class="form-floating">
                    <input class="form-control" type="text" name="username" placeholder="username">
                    <label for="username">Username</label>
                </div>

        </div></div>
           
    
     
        </div>
        <div class="row justify-content-center">
            <div class="col col-4">
        <div class="input-group mt-3">
            <span class="input-group-text">#</span>
            <div class="form-floating ">
                <input class="form-control" type="password" name="password" placeholder="password">
                <label for="password">Password</label>
            </div></div></div>
        <div class="row row-cols-5 justify-content-center m-3"><input class="btn btn-warning" type="submit" value="Login"></div>
     
     </form>
    
    {% endif %}
        
    </div>
   
     
        
{% endblock data %}
        

<!-- 
    <form method="post" action="{% url 'login_app:login' %}">
        {% csrf_token %}
        <input type="text" name="username">
        <label for="username">username</label>

        <input type="password" name="password">
        <label for="password">password</label>
        <input type="submit" value="login">
    </form> -->